

@{
    ViewBag.Title = "Admin Page";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    Anime_Web.Models.WEB_Anime_ASPEntities db = new Anime_Web.Models.WEB_Anime_ASPEntities();

}


<!-- Product Section Begin -->
<section class="hero">
    <div class="container m-3">
        <div style="display:flex">
            <div class="header p-3" style="width:25%">
                <aside id="tab_list">
                    <ul class="list-group mt-4">
                        <li class="list-group-item my-1 text-center item-active">
                            <a href="@Url.Action(" index", "AdminHome" )">
                                Manage Anime
                            </a>
                        </li>

                        <li class="list-group-item my-1 text-center">
                            <a href="@Url.Action(" AnimeEpisode", "AdminProducts" )">
                                Manage Anime Episode
                            </a>
                        </li>

                        <li class="list-group-item my-1 text-center">
                            <a href="@Url.Action(" AnimeTrailers", "AdminProducts" )">
                                Manage Anime Trailers
                            </a>
                        </li>
                    </ul>
                </aside>

            </div>


            <div style="width:85%" class="ml-3">

                <div>
                    <a class="btn btn-success" href="@Url.Action("Create", "AdminProducts" )"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Anime</a>
                </div>

                <div class="product__sidebar mt-4">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>List Anime</h5>
                        </div>

                        <ul class="filter__controls">
                            <li class="active" data-filter="*">
                                All
                            </li>
                            <li data-filter=".trending">Trending</li>
                            <li data-filter=".adventure">Adventure</li>
                            <li data-filter=".action ">Action </li>
                            <li data-filter=".sport">Sport</li>
                        </ul>

                        <div class="filter__gallery">


                            @foreach (var item in db.Animes.OrderByDescending(x => x.id))
                            {
                                //foreach (var item1 in db.Categogies)
                                //{

                                <div class="anime__details__content mix action mix trending mix adventure mix action mix sport" style="width:100%">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="anime__details__pic set-bg"
                                                 data-setbg="@item.Anime_covers" style="height:350px">
                                                @*<img src="~/@item.Anime_covers" style="height:350px" />*@
                                                <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="anime__details__text">
                                                <div class="anime__details__title">
                                                    <h3>@item.name</h3>

                                                </div>
                                                <p>
                                                    @item.description
                                                </p>
                                                <div class="anime__details__widget">

                                                    <ul>
                                                        <li><span>Studios:</span> @item.studio</li>
                                                        @*@foreach (var gender in db.Categogies.GroupBy(x => (x.Anime_id_category == item.id)))
                                                            {

                                                            <li>
                                                                <span>Genre:</span> @gender.name
                                                            </li>
                                                            }*@



                                                    </ul>

                                                </div>

                                                <div class="anime__details__btn">
                                                    <a href="#" class="btn btn-secondary" style="margin-right:10px"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> EDIT</a>

                                                    <a href="#" class="btn btn-danger"><i class="fa fa-minus-square" aria-hidden="true"></i> DELETE</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*}*@

                            }
                            }


                        </div>


                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
